<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FastAPI PyPI</title>
    <link rel="stylesheet" href="/static/css/site.css">
</head>
<body>
<h1>pypi</h1>
<div>
    Python's package management site.
</div>
<div>
    Did you know we have an API? ;)<br>
    <br>
    Package count: <a href="/api/packages/count">/api/packages/count</a><br>
    Package details: <a href="/api/packages/details/fastapi">/api/packages/details/{package_name}</a><br>
    Package search: <a href="/api/packages/search/aws">/api/packages/search/{keyword}</a><br>
</div>
</body>
</html>